html, body, #root{
  height: 100%;
}
.main-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.action-btn{
  cursor: pointer;
  padding: 10px;
  background-color: rgb(64, 64, 218);
  text-align: center;
  color: white;
}
